<html>
    <head></head>
    <body>
<div>
    <form action="/loginrequest" method="POST">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="password" name="password" placeholder="Enter password" >
    <button>LogIn</button>
    </form>
</div>
</body>
</html>